version: "3.8"

services:
  backend:
    image: ghcr.io/fahizkp/tharbiya-registration-form-backend:latest
    container_name: tharbiya-backend
    restart: unless-stopped
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      - PORT=5001

  frontend:
    image: ghcr.io/fahizkp/tharbiya-registration-form-frontend:latest
    container_name: tharbiya-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
